.home{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    padding: 0 1em;
}

.benevole{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.benevole-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}